@import url("chrome://global/skin/inContentUI.css");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
.nav-button
{
 list-style-image: url(chrome://mozapps/skin/extensions/navigation.png);
}
#forward-btn
{
 -moz-border-start: none;
}
#back-btn:-moz-locale-dir(ltr), #forward-btn:-moz-locale-dir(rtl)
{
 -moz-image-region: rect(0, 18px, 18px, 0);
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}
#back-btn:-moz-locale-dir(rtl), #forward-btn:-moz-locale-dir(ltr)
{
 -moz-image-region: rect(0, 36px, 18px, 18px);
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
}

/*** global warnings ***/
.global-warning-container
{
 overflow-x: hidden;
}
.global-warning
{
 -moz-box-align: center;
 padding: 0 8px;
 color: #FFFF00;
 font-weight: bold;
}
#addons-page[warning] .global-warning-container
{
 background-color: rgba(255, 255, 0, 0.1);
 background-image: url("chrome://mozapps/skin/extensions/stripes-warning.png");
 background-repeat: repeat-x;
}
#detail-view .global-warning
{
 padding: 4px 12px;
 border-bottom: 1px solid #CAD4E0;
}
@media (max-width: 600px)
{
 .global-warning-text
 {
  display: none;
 }
 .global-warning .warning-icon
 {
  background-color: #FFF;
  box-shadow: 0px 0px 2px 5px #FFF;
  border-radius: 10px;
 }
}

/*** global informations ***/
#addons-page .global-info-container
{
 background-color: #000000;
}

/* Plugins aren't yet disabled by safemode (bug 342333),
   so don't show that warning when viewing plugins. */
#addons-page[warning="safemode"] .view-pane[type="plugin"] .global-warning-container, #addons-page[warning="safemode"] #detail-view[loading="true"] .global-warning-container
{
 background-color: inherit;
 background-image: none;
}

/*** notification icons ***/
.warning-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/alerticon-warning.png");
 width: 16px;
 height: 15px;
 margin: 3px 0;
}
.error-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/alerticon-error.png");
 width: 16px;
 height: 15px;
 margin: 3px 0;
}
.pending-icon, .info-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/alerticon-info-positive.png");
 width: 16px;
 height: 15px;
 margin: 3px 0;
}
.addon-view[pending="disable"] .pending-icon, .addon-view[pending="uninstall"] .pending-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/alerticon-info-negative.png");
 width: 16px;
 height: 15px;
 margin: 3px 0;
}

/*** view alert boxes ***/
.alert-container
{
 -moz-box-align: center;
}
.alert-spacer-before
{
 -moz-box-flex: 1;
}
.alert-spacer-after
{
 -moz-box-flex: 3;
}
.alert
{
 -moz-box-align: center;
 padding: 10px;
 color: #FFFFFF;
 border: 1px solid;
 border-top-color: #606060;
 border-right-color: #D0D0D0;
 border-bottom-color: #D0D0D0;
 border-left-color: #606060;
}
.alert .alert-title
{
 font-weight: bold;
 font-size: 200%;
 margin-bottom: 15px;
}
.alert button
{
 margin: 1em 2em;
}
.loading
{
 list-style-image: url("chrome://global/skin/icons/loading_16.png");
 padding-left: 20px;
 padding-right: 20px;
}

/*** category selector ***/
#categories
{
 -moz-appearance: none;
 border: 2px solid;
 -moz-border-top-colors: #606060 #101010;
 -moz-border-right-colors: #000000 #000000;
 -moz-border-bottom-colors: #D0D0D0 #101010;
 -moz-border-left-colors: #606060 #101010;
 -moz-margin-end: -1px;
  background-color: #101010;
 position: relative;
 margin-top: 32px;
 margin-bottom: 0px;
}
.category
{
 -moz-appearance: none;
 background-color: #101010;
 color: #FFFFFF;
 min-height: 0;
 padding: 10px 4px;
 border-width: 1px;
 border-style: solid;
 border-color: transparent;
 -moz-box-align: center;
 overflow: hidden;
}
.category:-moz-locale-dir(ltr)
{
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
}
.category:-moz-locale-dir(rtl)
{
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;
}
.category[disabled]
{
 border-top: 0;
 border-bottom: 0;
 height: 0;
 opacity: 0;
 transition-property: height, opacity;
 transition-duration: 1s, 0.8s;
}
.category:not([disabled])
{
 height: 52px;
 transition-property: height, opacity;
 transition-duration: 1s, 0.8s;
}
.category[selected]
{
 background-color: #000000;
 color: #FFFFFF;
 border-color: #606060;
 -moz-border-end-color: #000000;
}
.category-name
{
 font-size: 150%;
}

/* Maximize the size of the viewport when the window is small */
@media (max-width: 800px)
{
 .category-name
 {
  display: none;
 }
}
.category-badge
{
 background-color: #101010;
 padding: 2px 8px;
 margin: 6px 0;
 border-radius: 10000px;
 color: #FFF;
 font-weight: bold;
 text-align: center;
}
.category-badge[value="0"]
{
 visibility: hidden;
}
.category-icon
{
 width: 32px;
 height: 32px;
 -moz-margin-start: 6px;
}
#category-search > .category-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/category-search.png");
}
#category-discover > .category-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/category-discover.png");
}
#category-locale > .category-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/category-languages.png");
}
#category-searchengine > .category-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/category-searchengines.png");
}
#category-extension > .category-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/category-extensions.png");
}
#category-service > .category-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/category-service.png");
}
#category-theme > .category-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/category-themes.png");
}
#category-plugin > .category-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/category-plugins.png");
}
#category-dictionary > .category-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/category-dictionaries.png");
}
#category-availableUpdates > .category-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/category-available.png");
}
#category-recentUpdates > .category-icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/category-recent.png");
}
.category:not(:-moz-any(#category-search, #category-discover, #category-locale, #category-extension, #category-theme, #category-plugin, #category-dictionary, #category-availableUpdates, #category-recentUpdates)) > .category-icon
{
 filter: grayscale(1);
}

/*** header ***/
#header
{
 margin-bottom: 18px;
}
#header-search
{
 margin: 0;
}
@media (max-width: 600px)
{
 #header-search
 {
  width: 12em;
 }
}
@media (-moz-windows-default-theme)
{
 #header-search
 {
  -moz-appearance: none;
  border: 1px solid #606060;
  padding-bottom: 2px;
  background-color: #000000;
 }
 #header-search:hover
 {
  background-color: #202020;
 }
 #header-search[focused]
 {
  background-color: #404040;
 }
}
#header-utils-btn
{
 list-style-image: url("chrome://mozapps/skin/extensions/utilities.png");
 -moz-margin-end: 16px;
}
.view-header
{
 background-color: #000000;
 padding: 4px;
 margin: 0;
 min-height: 31px;
 border-bottom: 1px solid #D0D0D0;
}

/*** sorters ***/
.sort-controls
{
 -moz-appearance: none;
}
.sorter
{
 -moz-appearance: none;
 border: 1px solid transparent;
 background: #000000;
 border-radius: 0;
 color: #FFFFFF;
 padding: 0 6px;
 margin: 0 6px;
 min-width: 12px !important;
 -moz-box-direction: reverse;
}
.sorter .button-box
{
 padding-top: 0;
 padding-bottom: 0;
}
.sorter[checkState="1"], .sorter[checkState="2"]
{
 background-color: #404040;
 border-top-color: #606060;
 border-right-color: #D0D0D0;
 border-bottom-color: #D0D0D0;
 border-left-color: #606060;
}
.sorter[checkState="1"]
{
 list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}
.sorter[checkState="2"]
{
 list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
}
.sorter .button-icon
{
 -moz-margin-start: 4px;
}

/*** discover view ***/
.discover-spacer-before, .discover-spacer-after
{
 -moz-box-flex: 1;
}
#discover-error .alert
{
 max-width: 45em;
 -moz-box-flex: 1;
}
.discover-logo
{
 list-style-image: url("chrome://mozapps/skin/extensions/discover-logo.png");
 -moz-margin-end: 15px;
}
.discover-title
{
 font-weight: bold;
 font-size: 24px;
 font-family: MetaWebPro-Book, "Trebuchet MS", sans-serif;
 margin: 0 0 15px 0;
}
.discover-description
{
 text-align: justify;
 margin: 0 0 15px 0;
}
.discover-footer
{
 text-align: justify;
}

/*** list ***/
.list
{
 -moz-appearance: none;
 margin: 0;
 border: none;
 background-color: #000000;
}
.addon
{
 color: #FFFFFF;
 border: 1px solid transparent;
 margin-top: 1px;
 padding: 5px;
 background-origin: border-box;
}
.view-pane:not(#search-view) .addon:first-of-type, #search-view .addon[first]
{
 border-top-width: 1px;
 -moz-border-top-colors: rgba(255, 255, 255, 0.1);
}
.view-pane:not(#search-view) .addon:last-of-type, #search-view .addon[last]
{
 border-bottom-width: 2px;
 -moz-border-bottom-colors: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1);
}
.details
{
 cursor: pointer;
 margin: 0;
 -moz-margin-start: 10px;
}
.icon-container
{
 width: 48px;
 height: 48px;
 margin: 3px 7px;
 -moz-box-align: center;
 -moz-box-pack: center;
}
.icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
 max-width: 48px;
 max-height: 48px;
}
.addon[active="false"] .icon
{
 filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
}
.addon-view[type="theme"] .icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric.png");
}
.addon-view[type="locale"] .icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/localeGeneric.png");
}
.addon-view[type="plugin"] .icon
{
 list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.png");
}
.addon-view[type="dictionary"] .icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/dictionaryGeneric.png");
}
.name-container
{
 font-size: 150%;
 font-weight: bold;
 color: #FFFFFF;
 margin-bottom: 0;
 -moz-box-align: end;
 -moz-box-flex: 1;
}
.creator
{
 font-weight: bold;
}
.creator .text-link
{
 color: #FFFFFF;
}
.description-container
{
 -moz-margin-start: 6px;
 -moz-box-align: center;
}
.description
{
 margin: 0;
}
.warning, .pending, .error
{
 -moz-margin-start: 48px;
 font-weight: bold;
 -moz-box-align: center;
}
.content-container, .basicinfo-container
{
 -moz-box-align: start;
}
.addon[status="installing"] > .content-container
{
 -moz-box-align: stretch;
}

.advancedinfo-container, .update-info-container
{
 -moz-box-align: center;
}
.update-available
{
 -moz-box-align: end;
}
.install-status-container
{
 -moz-box-pack: end;
 -moz-box-align: end;
}
.name-outer-container
{
 -moz-box-pack: center;
}
.relnotes-toggle-container, .icon-outer-container
{
 -moz-box-pack: start;
}
.status-container, .control-container
{
 -moz-box-pack: end;
}
.addon-view .warning
{
 color: #FFFF00;
}
.addon-view .error
{
 color: #FF0000;
}
.addon-view .pending
{
 color: #00FF00;
}
.addon-view[pending="disable"] .pending, .addon-view[pending="uninstall"] .pending
{
 color: #C0C0C0;
 text-shadow: 0 0 2px #000000;
}
.addon .relnotes-container
{
 -moz-box-align: start;
 -moz-margin-start: 6px;
 height: 0;
 overflow: hidden;
 opacity: 0;
 transition-property: height, opacity;
 transition-duration: 0.5s, 0.5s;
}
.addon[show-relnotes] .relnotes-container
{
 opacity: 1;
 transition-property: height, opacity;
 transition-duration: 0.5s, 0.5s;
}
.addon .relnotes-header
{
 font-weight: bold;
 margin: 10px 0;
}
.addon .relnotes-toggle
{
 -moz-appearance: none;
 border: none;
 background: transparent;
 font-weight: bold;
 -moz-box-direction: reverse;
 cursor: pointer;
 list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}
.addon .relnotes-toggle:hover
{
 background: transparent !important;
}
.addon .relnotes-toggle > .button-box > .button-icon
{
 -moz-padding-start: 4px;
}
.addon[show-relnotes] .relnotes-toggle
{
 list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
}
.addon[active="false"]
{
 background-color: #202020;
 border-top-color: #606060;
 border-right-color: #D0D0D0;
 border-bottom-color: #D0D0D0;
 border-left-color: #606060;
}
.addon-view[active="false"], .addon-view[active="false"] .name-container
{
 color: #C0C0C0;
}
.addon-view[active="true"][native="false"][notification="warning"] .content-container
{
 background-image: radial-gradient(circle at 32px, #501600 0%, transparent 30px, transparent 100%);
}
.addon-view[active="true"][native="false"][notification="warning"]:-moz-locale-dir(rtl) .content-container
{
 background-image: radial-gradient(circle at calc(100% - 32px), #501600 0%, transparent 30px, transparent 100%);
}
.addon-view[active="true"][native="false"][notification="warning"][selected] .content-container
{
 background-image: none;
}
.addon-view[active="true"][native="false"][notification="warning"][selected]
{
 background-image: linear-gradient(to right, #501600 0%, transparent 128px, transparent 100%);
}
.addon-view[active="true"][native="false"][notification="warning"][selected]:-moz-locale-dir(rtl)
{
 background-image: linear-gradient(to left, #501600 0%, transparent 128px, transparent 100%);
}
.addon-view[active="false"][native="false"][notification="warning"] .warning
{
 color: #C0C040;
}
.addon-view[active="true"][native="true"][notification="warning"],
.addon-view[active="false"][native="false"][notification="warning"]
{
  background-image: url("chrome://mozapps/skin/extensions/stripes-warning.png"),
                    linear-gradient(rgba(255, 255, 0, 0.04),
                                    rgba(255, 255, 0, 0));
  background-repeat: repeat-x;
}
.addon-view[notification="error"]
{
 background-image: url("chrome://mozapps/skin/extensions/stripes-error.png"),
                   linear-gradient(rgba(255, 0, 0, 0.04),
                                   rgba(255, 0, 0, 0));
 background-repeat: repeat-x;
}
.addon-view[pending="enable"], .addon-view[pending="upgrade"], .addon-view[pending="install"]
{
 background-image: url("chrome://mozapps/skin/extensions/stripes-info-positive.png"),
                   linear-gradient(rgba(0, 255, 0, 0.04),
                                   rgba(0, 255, 0, 0));
 background-repeat: repeat-x;
}
.addon-view[pending="disable"], .addon-view[pending="uninstall"]
{
 background-image: url("chrome://mozapps/skin/extensions/stripes-info-negative.png"),
                   linear-gradient(rgba(128, 128, 128, 0.04),
                                   rgba(128, 128, 128, 0));
 background-repeat: repeat-x;
}
.addon[selected]
{
 background-color: #404040;
 color: #FFFFFF;
 text-shadow: 1px 1px 2px #000000;
 border-top-color: #D0D0D0;
 border-right-color: #606060;
 border-bottom-color: #606060;
 border-left-color: #D0D0D0;
}
.addon[active="false"][selected] .name-container
{
 color: #FFFFFF;
}

/*** item - uninstalled ***/
.addon[status="uninstalled"]
{
 border: none;
}
.addon[status="uninstalled"] > .container
{
 -moz-box-align: center;
 padding: 4px 20px;
 background-color: #FDFFA8;
 border-radius: 8px;
 font-size: 120%;
}
.addon[status="uninstalled"][selected]
{
 background-color: transparent;
}

/*** search view ***/
#search-filter
{
 padding: 5px 20px;
 font-size: 120%;
 border-bottom: 1px solid #606060;
 overflow-x: hidden;
}
#search-filter-label
{
 font-weight: bold;
 color: #FFFFFF;
}
.search-filter-radio
{
 -moz-appearance: none;
 padding: 0 6px;
 margin: 0 3px;
 border: 2px solid;
 -moz-border-top-colors: transparent #D0D0D0;
 -moz-border-right-colors: transparent #606060;
 -moz-border-bottom-colors: transparent #606060;
 -moz-border-left-colors: transparent #D0D0D0;
 background-color: #000000;
 color: #FFFFFF;
}
.search-filter-radio[selected]
{
 -moz-border-top-colors: #606060 #505050;
 -moz-border-right-colors: #D0D0D0 #505050;
 -moz-border-bottom-colors: #D0D0D0 #505050;
 -moz-border-left-colors: #606060 #505050;
 background-color: #404040;
 color: #FFFFFF;
}
.search-filter-radio .radio-check-box1
{
 display: none;
}
.search-filter-radio .radio-icon
{
 display: none;
}
#search-allresults-link
{
 margin-top: 1em;
 margin-bottom: 2em;
}

/*** detail view ***/
#detail-view .loading
{
 opacity: 0;
}
#detail-view[loading-extended] .loading
{
 opacity: 1;
 transition-property: opacity;
 transition-duration: 1s;
}
.detail-view-container
{
 padding: 0 2em 2em 2em;
 font-size: 110%;
}
#detail-notifications
{
 margin-top: 1em;
 margin-bottom: 2em;
}
#detail-notifications .warning, #detail-notifications .pending, #detail-notifications .error
{
 -moz-margin-start: 0;
}
#detail-icon-container
{
 width: 64px;
 -moz-margin-end: 10px;
 margin-top: 6px;
}
#detail-icon
{
 max-width: 64px;
 max-height: 64px;
}
#detail-summary
{
 margin-bottom: 2em;
}
#detail-name-container
{
 font-size: 200%;
}
#detail-screenshot
{
 -moz-margin-end: 2em;
 max-width: 300px;
 max-height: 300px;
}
#detail-screenshot[loading]
{
 background-image: url("chrome://global/skin/icons/loading_16.png"),
                   linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
 background-position: 50% 50%;
 background-repeat: no-repeat;
 border-radius: 3px;
}
#detail-screenshot[loading="error"]
{
 background-image: url("chrome://global/skin/media/error.png"),
                   linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
#detail-desc-container
{
 margin-bottom: 2em;
}
#detail-desc, #detail-fulldesc
{
 -moz-margin-start: 6px;
 /* This is necessary to fix layout issues with multi-line descriptions, see
    bug 592712*/
 outline: solid transparent;
 white-space: pre-wrap;
 min-width: 10em;
}
#detail-fulldesc
{
 margin-top: 1em;
}
#detail-contributions
{
 border-radius: 8px;
 border: 2px solid;
 -moz-border-top-colors: #303030 #606060;
 -moz-border-right-colors: #808080 #D0D0D0;
 -moz-border-bottom-colors: #808080 #D0D0D0;
 -moz-border-left-colors: #303030 #606060;
 margin-bottom: 2em;
 padding: 1em;
 background-color: #101010;
 color: #FFFFFF;
}
#detail-contrib-description
{
 font-style: italic;
 margin-bottom: 1em;
 color: #FFFFFF;
}
#detail-contrib-suggested
{
 color: #C0FFC0;
 font-weight: bold;
}
#detail-contrib-btn
{
 -moz-appearance: none;
 border: 2px solid;
 -moz-border-top-colors: transparent #D0D0D0;
 -moz-border-right-colors: transparent #606060;
 -moz-border-bottom-colors: transparent #606060;
 -moz-border-left-colors: transparent #D0D0D0;
 background-color: #000000;
 color: #FFFFFF;
 list-style-image: url("chrome://mozapps/skin/extensions/heart.png");
}
#detail-contrib-btn .button-box
{
 padding: 0 6px 1px 6px;
}
#detail-contrib-btn .button-icon
{
 -moz-margin-end: 3px;
}
#detail-contrib-btn:not(:active):hover
{
 -moz-border-top-colors: transparent #D0D0D0;
 -moz-border-right-colors: transparent #606060;
 -moz-border-bottom-colors: transparent #606060;
 -moz-border-left-colors: transparent #D0D0D0;
 background-color: #303030;
}
#detail-contrib-btn:active:hover
{
 -moz-border-top-colors: #606060 #505050;
 -moz-border-right-colors: #D0D0D0 #505050;
 -moz-border-bottom-colors: #D0D0D0 #505050;
 -moz-border-left-colors: #606060 #505050;
 background-color: #404040;
}
#detail-grid
{
 margin-bottom: 2em;
}
#detail-grid > columns > column:first-child
{
 min-width: 15em;
 max-width: 25em;
}
.detail-row[first-row="true"], .detail-row-complex[first-row="true"], setting[first-row="true"]
{
 border-top: none;
}
.detail-row, .detail-row-complex, setting
{
 border-top: 2px solid;
 -moz-border-top-colors: #606060;
 -moz-box-align: center;
 min-height: 30px;
}
#detail-controls
{
 margin-bottom: 1em;
}
#detail-view[active="false"]:not([pending]):not([notification])
{
 background-image: linear-gradient(to bottom, #202020, #000000);
}
setting[first-row="true"]
{
 margin-top: 2em;
}
setting
{
 -moz-box-align: start;
}
.preferences-alignment
{
 min-height: 30px;
 -moz-box-align: center;
}
.preferences-description
{
 font-size: 90.9%;
 color: #FFFFFF;
 margin-top: -2px;
 -moz-margin-start: 2em;
 white-space: pre-wrap;
}
.preferences-description:empty
{
 display: none;
}
setting[type="radio"] > radiogroup
{
 -moz-box-orient: horizontal;
}
menulist
{
 margin: 1px 5px 2px 5px;
 min-width: 75px;
}

/*** creator ***/
.creator > label
{
 -moz-margin-start: 0;
 -moz-margin-end: 0;
}
.creator > .text-link
{
 margin-top: 1px;
 margin-bottom: 1px;
}

/*** rating ***/
.meta-rating
{
 -moz-margin-end: 0;
 padding-top: 2px;
}
.meta-rating > .star
{
 list-style-image: url("chrome://mozapps/skin/extensions/rating-not-won.png");
 padding: 0 1px;
}
.meta-rating > .star[on="true"]
{
 list-style-image: url("chrome://mozapps/skin/extensions/rating-won.png");
}

/*** download progress ***/
.download-progress
{
 -moz-appearance: none;
 margin: 2px 4px;
 border: 1px solid;
 border-top-color: #FFFFFF;
 border-right-color: #808080;
 border-bottom-color: #808080;
 border-left-color: #FFFFFF;
 background-color: #000000;
 height: 15px;
 width: 200px;
}
.download-progress[mode="undetermined"]
{
 border-top-color: #A0A0A0;
 border-right-color: #606060;
 border-bottom-color: #606060;
 border-left-color: #A0A0A0;
}
.download-progress[mode="undetermined"] .status-container
{
 padding: 0 2px;
}
.download-progress .start-cap, .download-progress[complete] .end-cap, .download-progress[mode="undetermined"] .end-cap, .download-progress .progress .progress-bar
{
 -moz-appearance: none;
}
.download-progress .start-cap
{
 width: 0px;
}
.download-progress .end-cap
{
 width: 16px;
 border-left: 1px solid #FFFFFF;
}
.download-progress .progress .progress-bar
{
 -moz-appearance: none;
 min-width: 0px;
 border-left-width: 0;
 border-right-width: 0;
 height: 15px;
 margin-top: 2px;
 margin-bottom: 2px;
}
.download-progress .progress
{
 -moz-appearance: none;
 background-color: transparent;
 padding: 0;
 margin: 0;
 border: none;
 border-right: 1px solid #808080;
}
.download-progress .cancel
{
 -moz-appearance: none;
 color: #FFFFFF;
 background-color: #000000;
 border: 1px solid;
 border-top-color: #D0D0D0;
 border-left-color: #D0D0D0;
 border-bottom-color: #606060;
 border-right-color: #606060;
 min-width: 0;
 margin: 0px;
 margin-inline-end: 2px;
 padding: 0 1px 1px 0;
 width: 11px;
 height: 11px;
 min-width: 11px;
 min-height: 11px;
 list-style-image: url('chrome://mozapps/skin/extensions/cancel.png');
}
.download-progress .cancel:hover
{
 color: #D0D0D0;
 background-color: #303030;
 border: 1px solid;
 border-top-color: #D0D0D0;
 border-left-color: #D0D0D0;
 border-bottom-color: #606060;
 border-right-color: #606060;
 padding: 0 1px 1px 0;
}
.download-progress .cancel:active:hover
{
 color: #FFFFFF;
 background-color: #404040;
 border: 1px solid;
 border-top-color: #606060;
 border-left-color: #606060;
 border-bottom-color: #D0D0D0;
 border-right-color: #D0D0D0;
 padding: 1px 0 0 1px;
}
.download-progress .cancel .button-box
{
 padding: 0;
 border: none;
}
.download-progress .cancel .button-text
{
 display: none;
}
.download-progress .cancel .button-icon
{
 -moz-margin-start: 0;
}
.download-progress .status-container
{
 -moz-box-align: center;
}
.download-progress .status
{
 color: #FFFFFF;
 text-shadow: #000000 0 0 2px;
}

/*** install status ***/
.install-status
{
 -moz-box-align: center;
}

/*** check for updates ***/
#updates-container
{
 -moz-box-align: center;
}
#updates-container .button-link
{
 font-weight: bold;
}
#updates-installed, #updates-downloaded
{
 color: #00FF00;
 font-weight: bold;
}
#update-selected
{
 margin: 12px;
}

/*** buttons ***/
.addon-control[disabled="true"]
{
 display: none;
}
button.button-link
{
 -moz-appearance: none;
 background: transparent;
 border: none;
 box-shadow: none;
 text-decoration: none;
 color: #FFFFFF;
 cursor: pointer;
 min-width: 0;
 margin: 0 6px;
}
.text-link
{
 color: #FFFFFF;
 text-decoration: none;
}
.button-link:hover, .text-link:hover
{
 text-decoration: underline;
 color: #FFFFFF;
 background: transparent !important;
}
/* Needed to override normal button style from inContent.css */
button.button-link:not([disabled="true"]):active:hover
{
 background: transparent;
 border: none;
 box-shadow: none;
}

.header-button
{
 -moz-appearance: none;
 padding: 1px 3px;
 color: #FFFFFF;
 text-shadow: 0 0 3px white;
 background: #000000;
 background-clip: padding-box;
 border: 2px solid;
 -moz-border-top-colors: transparent #D0D0D0;
 -moz-border-right-colors: transparent #606060;
 -moz-border-bottom-colors: transparent #606060;
 -moz-border-left-colors: transparent #D0D0D0;
}
.header-button[disabled="true"]
{
 -moz-border-top-colors: transparent #A0A0A0 !important;
 -moz-border-right-colors: transparent #303030 !important;
 -moz-border-bottom-colors: transparent #303030 !important;
 -moz-border-left-colors: transparent #A0A0A0 !important;
 color: #606060 !important;
 background-color: #202020 !important;
}
.header-button[disabled="true"] > .toolbarbutton-icon
{
 -moz-border-top-colors: transparent #A0A0A0 !important;
 -moz-border-right-colors: transparent #303030 !important;
 -moz-border-bottom-colors: transparent #303030 !important;
 -moz-border-left-colors: transparent #A0A0A0 !important;
 color: #606060 !important;
 background-color: #202020 !important;
}
.header-button:not([disabled="true"]):active:hover, .header-button[open="true"]
{
 -moz-border-top-colors: #606060 #505050;
 -moz-border-right-colors: #D0D0D0 #505050;
 -moz-border-bottom-colors: #D0D0D0 #505050;
 -moz-border-left-colors: #606060 #505050;
 background-color: #505050;
}
.header-button > .toolbarbutton-text
{
 display: none;
}
