@import "chrome://global/skin/";
#viewGroup
{
 -moz-padding-start: 10px;
}
#viewGroup > radio
{
 list-style-image: url("chrome://browser/skin/pageInfo.png");
 -moz-box-orient: vertical;
 -moz-box-align: center;
 -moz-appearance: none;
 padding: 5px 3px 1px 3px;
 margin: 0 1px;
 min-width: 4.5em;
}
#viewGroup > radio:hover
{
 background-color: #303030;
 color: #FFFFFF;
}
#viewGroup > radio[selected="true"]
{
 background-color: #606060;
 color: #FFFFFF;
}
#topBar
{
 border-bottom: 2px solid;
 -moz-border-bottom-colors: #606060 #A0A0A0;
 -moz-padding-start: 10px;
 background-color: #000000;
 color: #FFFFFF;
}
#generalTab
{
 -moz-image-region: rect(0px, 32px, 32px, 0px)
}
#generalTab:hover, #generalTab[selected="true"]
{
 -moz-image-region: rect(32px, 32px, 64px, 0px)
}
#mediaTab
{
 -moz-image-region: rect(0px, 64px, 32px, 32px)
}
#mediaTab:hover, #mediaTab[selected="true"]
{
 -moz-image-region: rect(32px, 64px, 64px, 32px)
}
#feedTab
{
 -moz-image-region: rect(0px, 96px, 32px, 64px)
}
#feedTab:hover, #feedTab[selected="true"]
{
 -moz-image-region: rect(32px, 96px, 64px, 64px)
}
#permTab
{
 -moz-image-region: rect(0px, 128px, 32px, 96px)
}
#permTab:hover, #permTab[selected="true"]
{
 -moz-image-region: rect(32px, 128px, 64px, 96px)
}
#securityTab
{
 -moz-image-region: rect(0px, 160px, 32px, 128px)
}
#securityTab:hover, #securityTab[selected="true"]
{
 -moz-image-region: rect(32px, 160px, 64px, 128px)
}
#cookiesTab
{
 /* https://realityripple.com/Software/XUL/CookiePage/ */
 list-style-image: url("chrome://browser/skin/permissions/cookie.png") !important;
}
#cookiesTab > .viewButtonIcon
{
 width: 32px;
 height: 32px;
}
deck
{
 padding: 10px 10px 10px 10px;
}
tree
{
 margin: .5em;
}
.gridSeparator
{
 width: .5em;
}
textbox
{
 background: transparent !important;
 border: none;
 padding: 0px;
 margin-top: 1px;
 -moz-appearance: none;
}
textbox.header
{
 -moz-margin-start: 0;
}
.iframe
{
 margin: .5em;
 background: radial-gradient(circle at 50% 0%, #202020 0%, #000000 100%) #000000;
 overflow: auto;
}
.fixedsize
{
 height: 8.5em;
}
textbox[disabled]
{
 font-style: italic;
}
groupbox.collapsable caption .caption-icon
{
 width: 9px;
 height: 9px;
 background-repeat: no-repeat;
 background-position: center;
 -moz-margin-start: 2px;
 -moz-margin-end: 2px;
 background-image: url("chrome://global/skin/tree/twisty-open.png");
}
groupbox.collapsable[closed="true"]
{
 border: none;
 margin-bottom: 9px;
 -moz-appearance: none;
}
groupbox.collapsable[closed="true"] caption .caption-icon
{
 background-image: url("chrome://global/skin/tree/twisty-clsd.png");
}
groupbox tree
{
 margin: 0 3px;
 border: none;
}
#securityBox description
{
 -moz-margin-start: 10px;
}
#general-security-identity
{
 white-space: pre-wrap;
 line-height: 2em;
}
#imagetree
{
 min-height: 10em;
 margin-bottom: 0;
}
#mediaSplitter
{
 border-style: none;
 background: none;
 height: .8em;
}
#mediaGrid
{
 min-height: 9em;
}
#mediaLabelColumn
{
 min-width: 10em;
}
#thepreviewimage
{
 margin: 1em;
}
treechildren::-moz-tree-cell-text(broken)
{
 font-style: italic;
 color: #909090;
}
#feedtree
{
 margin-bottom: 0px;
}
#feedListbox richlistitem
{
 padding-top: 6px;
 padding-bottom: 6px;
 -moz-padding-start: 7px;
 -moz-padding-end: 7px;
 min-height: 25px;
 border: 2px solid;
 border-top-color: #606060;
 border-right-color: #D0D0D0;
 border-bottom-color: #D0D0D0;
 border-left-color: #606060;
 background-color: #000000;
 color: #FFFFFF;
}
#feedListbox richlistitem[selected="true"]
{
 background-color: #202020;
 border-top-color: #D0D0D0;
 border-right-color: #606060;
 border-bottom-color: #606060;
 border-left-color: #D0D0D0;
}
#feedListbox
{
 border: 0px;
}
.feedTitle
{
 font-weight: bold;
}
#permList
{
 margin-top: .5em;
 overflow: auto;
 border: 0px;
 background-color: #000000;
}
.permission
{
 padding-top: 6px;
 padding-bottom: 6px;
 -moz-padding-start: 7px;
 -moz-padding-end: 7px;
 min-height: 25px;
 border: 2px solid;
 border-top-color: #606060;
 border-right-color: #D0D0D0;
 border-bottom-color: #D0D0D0;
 border-left-color: #606060;
 background-color: #000000;
 color: #FFFFFF;
}
.permissionLabel
{
 font-weight: bold;
}
.permission:hover
{
 background-color: #404040;
 border-top-color: #D0D0D0;
 border-right-color: #606060;
 border-bottom-color: #606060;
 border-left-color: #D0D0D0;
}
#securityPanel .caption-icon
{
 display: none;
}
#securityPanel .header
{
 font-size: 120%;
}
#securityPanel .fieldLabel
{
 margin: 2px 10px 3px 10px;
}
#securityPanel .fieldValue
{
 font-weight: bold;
 margin: 2px 10px 0px 10px;
}
