@import url("chrome://global/locale/intl.css");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
radio
{
 -moz-binding: url("chrome://global/skin/globalBindings.xml#radio");
}
menulist > menupopup, .menulist-menupopup
{
 -moz-binding: url("chrome://global/content/bindings/popup.xml#popup-scrollbars");
}
.menulist-compact
{
 -moz-binding: url("chrome://global/skin/globalBindings.xml#menulist-compact");
}
window, page, dialog, wizard, prefwindow
{
 -moz-appearance: none;
 background-color: #000000;
 color: #FFFFFF;
 font: message-box;
}
tabbrowser
{
 background-color: #000000 !important;
 color: #FFFFFF;
}
window.dialog
{
 padding-top: 8px;
 padding-bottom: 10px;
 -moz-padding-start: 8px;
 -moz-padding-end: 10px;
}
#clientBox
{
 background-color: transparent !important;
 color: #FFFFFF !important;
}
.message-icon, .alert-icon, .error-icon, .question-icon
{
 width: 32px;
 height: 32px;
}
.message-icon
{
 list-style-image: url("chrome://global/skin/icons/information-32.png");
}
.alert-icon
{
 list-style-image: url("chrome://global/skin/icons/Warning.png");
}
.error-icon
{
 list-style-image: url("chrome://global/skin/icons/Error.png");
}
.question-icon
{
 list-style-image: url("chrome://global/skin/icons/Question.png");
}
iframe
{
 border: none;
 width: 100px;
 height: 100px;
 min-width: 10px;
 min-height: 10px;
}
statusbar
{
 -moz-appearance: none;
 border: 0px;
 background-color: #000000;
 min-height: 22px;
}
statusbarpanel
{
 -moz-appearance: none;
 -moz-box-align: center;
 -moz-box-pack: center;
 border: 0px;
 padding: 0 4px;
}
.statusbar-resizerpanel
{
 -moz-box-align: end;
 -moz-box-pack: end;
 -moz-appearance: none;
 padding: 0;
 border: none;
}
.statusbarpanel-iconic, .statusbarpanel-iconic-text, .statusbarpanel-menu-iconic
{
 padding: 0 1px;
}
sidebarheader
{
 height: 25px;
 background-color: #000000;
 -moz-appearance: none;
 border-bottom: 1px solid #808080;
 border-top: 1px solid #C0C0C0;
}
sidebarheader > label
{
 -moz-padding-start: 4px;
}
.toolbar-focustarget
{
 -moz-user-focus: ignore !important;
}
toolbar[mode="text"] .toolbarbutton-text
{
 padding: 0 !important;
 margin: 3px 5px !important;
}
.inset
{
 border: 1px solid;
 -moz-border-top-colors: #606060;
 -moz-border-right-colors: #A0A0A0;
 -moz-border-bottom-colors: #A0A0A0;
 -moz-border-left-colors: #606060;
 margin: 0 5px 5px;
}
.outset
{
 border: 1px solid;
 -moz-border-top-colors: #A0A0A0;
 -moz-border-right-colors: #606060;
 -moz-border-bottom-colors: #606060;
 -moz-border-left-colors: #A0A0A0;
}
separator:not([orient="vertical"])
{
 height: 1.5em;
}
separator[orient="vertical"]
{
 width: 1.5em;
}
separator.thin:not([orient="vertical"])
{
 height: 0.5em;
}
separator.thin[orient="vertical"]
{
 width: 0.5em;
}
separator.groove:not([orient="vertical"])
{
 border-top: 1px solid #606060;
 border-bottom: 1px solid #A0A0A0;
 height: 0;
 margin-top: 0.4em;
 margin-bottom: 0.4em;
}
separator.groove[orient="vertical"]
{
 border-left: 1px solid #606060;
 border-right: 1px solid #A0A0A0;
 width: 0;
 margin-left: 0.4em;
 margin-right: 0.4em;
}
.small-margin
{
 margin: 1px 2px;
}
.plain
{
 -moz-appearance: none;
 margin: 0 !important;
 border: none;
 padding: 0;
}
description, label
{
 cursor: default;
 margin-top: 1px;
 margin-bottom: 2px;
 -moz-margin-start: 6px;
 -moz-margin-end: 5px;
}
description
{
 margin-bottom: 4px;
}
label[disabled="true"]
{
 color: #909090;
}
label[disabled="true"]:-moz-system-metric(windows-classic)
{
 color: #909090;
}
.tooltip-label
{
 margin: 0;
}
.header
{
 font-weight: bold;
}
.monospace
{
 font-family: monospace;
}
.indent
{
 -moz-margin-start: 23px;
}
.box-padded
{
 padding: 5px;
}
.spaced
{
 margin: 3px 5px 4px;
}
.wizard-box
{
 padding: 20px 44px 10px;
}
.text-link
{
 color: #FFFFFF;
 border: 1px solid transparent;
 cursor: pointer;
}
#PMaboutDialog .text-link
{
 color: #000000;
}
.text-link:hover, .text-link:focus
{
 text-decoration: underline;
}
.autoscroller
{
 height: 28px;
 width: 28px;
 border: none;
 margin: -14px;
 padding: 0;
 background-image: url("chrome://global/skin/icons/autoscroll.png");
 background-color: transparent;
 background-position: right top;
 -moz-appearance: none;
}
.autoscroller[scrolldir="NS"]
{
 background-position: right center;
}
.autoscroller[scrolldir="EW"]
{
 background-position: right bottom;
}

/* FireFTP Fix */
#cmdlog
{
 background-color: #FFFFFF !important;
 border: 0 !important;
}
treechildren[search="true"]
{
 background-color: #003000 !important;
}
.close-icon
{
 list-style-image: url("chrome://global/skin/icons/close.png");
 -moz-image-region: rect(0, 16px, 16px, 0);
}
.close-icon:hover
{
 -moz-image-region: rect(0, 32px, 16px, 16px);
}
.close-icon:hover:active
{
 -moz-image-region: rect(0, 48px, 16px, 32px);
}
/* + Icon Replacements */
#fireftp-main-window #retrieveButton, 
#fireftp-main-window #storeButton, 
#fireftp-main-window .upButton,
#fireftp-main-window .refreshButton,
.fileTree::-moz-tree-image(isFolder),
.dirTree::-moz-tree-image(closed),
.dirTree::-moz-tree-image(open),
.fileTree::-moz-tree-image(isLink),
#page-proxy-button
{
 list-style-image: url("chrome://mozapps/skin/extensions/overrides/fireftp/fireftp.png") !important;
}
#identity-popup-content-box.verifiedIdentity > #identity-popup-encryption > vbox > #identity-popup-encryption-icon ,
#identity-popup-content-box.verifiedDomain > #identity-popup-encryption > vbox > #identity-popup-encryption-icon
{
 list-style-image: url("chrome://browser/skin/Secure24.png") !important;
}
#fireftp-main-window #searchStatusIcon[status="notfound"]
{
 list-style-image: url("chrome://global/skin/icons/information-16.png");
}
#identity-popup-icon
{
 list-style-image: url("chrome://browser/skin/identity.png") !important;
}
image.isFolder
{
 list-style-image: url("chrome://mozapps/skin/extensions/overrides/fireftp/properties.png") !important;
 -moz-image-region: rect(0 32px 32px 0);
}
image.isLink
{
 list-style-image: url("chrome://mozapps/skin/extensions/overrides/fireftp/properties.png") !important;
 -moz-image-region: rect(32px 32px 64px 0);
}
image.isMultiple
{
 list-style-image: url("chrome://mozapps/skin/extensions/overrides/fireftp/properties.png") !important;
 -moz-image-region: rect(64px 32px 96px 0);
}
#searchClosebutton, #customClosebutton
{
 list-style-image: url("chrome://global/skin/icons/close.png") !important;
 -moz-image-region: rect(0, 16px, 16px, 0);
}
#searchClosebutton:hover, #customClosebutton:hover
{
 -moz-image-region: rect(0, 32px, 16px, 16px);
}
#searchClosebutton:hover:active, #customClosebutton:hover:active
{
 -moz-image-region: rect(0, 48px, 16px, 32px);
}