@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
menu, menuitem, .splitmenu-menuitem
{
 -moz-appearance: none;
 -moz-box-align: center;
 border: 1px solid transparent;
 color: #FFFFFF;
 background-color: #000000;
 font: menu;
 list-style-image: none;
 -moz-image-region: auto;
}
menuitem[default="true"]
{
 font-weight: bold;
}
menu[disabled="true"], menuitem[disabled="true"], .splitmenu-menuitem[disabled="true"], menu[_moz-menuactive="true"][disabled="true"], menuitem[_moz-menuactive="true"][disabled="true"],.splitmenu-menuitem[_moz-menuactive="true"][disabled="true"]
{
 color: #909090;
}
menu[_moz-menuactive="true"]:not([disabled="true"]), menuitem[_moz-menuactive="true"]:not([disabled="true"]), .splitmenu-menuitem[_moz-menuactive="true"]:not([disabled="true"])
{
 border-top-color: #606060 !important;
 border-right-color: #D0D0D0 !important;
 border-bottom-color: #D0D0D0 !important;
 border-left-color: #606060 !important;
 background-color: #404040 !important;
 color: #FFFFFF !important;
}
menu[_moz-menuactive="true"][disabled="true"], menuitem[_moz-menuactive="true"][disabled="true"], .splitmenu-menuitem[_moz-menuactive="true"][disabled="true"]
{
 border-top-color: #606060 !important;
 border-right-color: #D0D0D0 !important;
 border-bottom-color: #D0D0D0 !important;
 border-left-color: #606060 !important;
 background-color: #101010 !important;
 color: #909090 !important;
}
menuitem.spell-suggestion
{
 font-weight: bold;
}

.menu-accel, .menu-iconic-accel, .menu-text, .menu-iconic-text
{
 margin: 0px !important;
 padding: 1px 0px;
 color: inherit;
}
.menu-text
{
 -moz-padding-start: 1.45em !important;
 -moz-appearance: none;
}
.menu-text, .menu-iconic-text
{
 font-weight: inherit;
 -moz-margin-start: 2px !important;
 -moz-padding-end: 2px;
}
.menu-description
{
 font-style: italic;
 color: #909090;
 -moz-margin-start: 1ex !important;
}
.menu-accel, .menu-iconic-accel
{
 color: inherit;
 -moz-margin-start: 0.74em !important;
 -moz-margin-end: 1.35em !important;
}
.menu-iconic-left
{
 min-width: 1.45em;
}
.menu-iconic-icon
{
 width: 16px;
 height: 16px;
}
menu.menu-iconic > .menu-iconic-left, menuitem.menuitem-iconic > .menu-iconic-left, .splitmenu-menuitem[iconic="true"] > .menu-iconic-left
{
 -moz-appearance: none;
 padding: 1px 0px;
}
.menu-right
{
 -moz-appearance: none;
 -moz-margin-end: -2px;
 -moz-margin-start: 6px;
 list-style-image: url("chrome://global/skin/menu/Menu-arrow.png");
 -moz-image-region: auto;
 min-width: 1.28em;
 padding-top: 1px;
}
menubar > menu
{
 border: 2px solid transparent;
}
.menu-right[_moz-menuactive="true"]
{
 list-style-image: url("chrome://global/skin/menu/Menu-arrow-hover.png");
 -moz-image-region: auto;
}
.menu-right[disabled="true"]
{
 list-style-image: url("chrome://global/skin/menu/Menu-arrow-disabled.png") !important;
 -moz-image-region: auto;
}
.menu-right:-moz-locale-dir(rtl)
{
 list-style-image: url("chrome://global/skin/menu/Menu-arrow-rtl.png");
}
.menu-right[_moz-menuactive="true"]:-moz-locale-dir(rtl)
{
 list-style-image: url("chrome://global/skin/menu/Menu-arrow-hover-rtl.png");
}
.menu-right[disabled="true"]:-moz-locale-dir(rtl)
{
 list-style-image: url("chrome://global/skin/menu/Menu-arrow-disabled-rtl.png") !important;
}
menubar > menu
{
 -moz-appearance: none;
 background-color: #000000 !important;
 color: #FFFFFF !important;
 border: 2px solid !important;
 -moz-border-top-colors: transparent !important;
 -moz-border-right-colors: transparent !important;
 -moz-border-bottom-colors: transparent !important;
 -moz-border-left-colors: transparent !important;
 padding: 1px !important;
}
menubar > menu[_moz-menuactive="true"]
{
 -moz-appearance: none;
 background-color: #404040 !important;
 color: #FFFFFF !important;
 border: 2px solid !important;
 -moz-border-top-colors: #D0D0D0 #505050 !important;
 -moz-border-right-colors: #606060 #505050 !important;
 -moz-border-bottom-colors: #606060 #505050 !important;
 -moz-border-left-colors: #D0D0D0 #505050 !important;
}
menubar > menu[_moz-menuactive="true"][open="true"]
{
 -moz-appearance: none;
 background-color: #505050 !important;
 color: #FFFFFF !important;
 border: 2px solid !important;
 -moz-border-top-colors: #606060 #505050 !important;
 -moz-border-right-colors: #D0D0D0 #505050 !important;
 -moz-border-bottom-colors: #D0D0D0 #505050 !important;
 -moz-border-left-colors: #606060 #505050 !important;
}
menubar > menu[disabled="true"]
{
 -moz-appearance: none;
 background-color: #202020 !important;
 color: #606060 !important;
 border: 1px solid !important;
 -moz-border-top-colors: transparent #A0A0A0 !important;
 -moz-border-right-colors: transparent #303030 !important;
 -moz-border-bottom-colors: transparent #303030 !important;
 -moz-border-left-colors: transparent #A0A0A0 !important;
}
menubar > menu:-moz-window-inactive
{
 color: #FFFFFF;
}
.menubar-left
{
 color: inherit;
}
.menubar-text
{
 margin: 1px 6px 2px 6px !important;
 color: inherit;
}
menupopup > menu, menupopup > menuitem
{
 max-width: 42em;
}
menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"], .splitmenu-menuitem[_moz-menuactive="true"]
{
 background-color: #C0C0C0;
 color: #000000;
}
.menulist-menupopup > menuitem, menulist > menupopup > menuitem, .menulist-menupopup > menu, menulist > menupopup > menu
{
 -moz-appearance: none;
 border: 1px solid transparent;
 -moz-padding-start: 5px;
 -moz-padding-end: 5px;
 max-width: none;
 font: message-box;
 color: #FFFFFF;
}
.menulist-menupopup > menuitem[_moz-menuactive="true"], menulist > menupopup > menuitem[_moz-menuactive="true"], .menulist-menupopup > menu[_moz-menuactive="true"], menulist > menupopup > menu[_moz-menuactive="true"]
{
 background-color: #C0C0C0;
 color: #000000;
}
.menulist-menupopup > menuitem > .menu-iconic-left, menulist > menupopup > menuitem > .menu-iconic-left, .menulist-menupopup > menu > .menu-iconic-left, menulist > menupopup > menu > .menu-iconic-left
{
 display: none;
 padding-top: 0px;
}
.menulist-menupopup > menuitem > label, menulist > menupopup > menuitem > label, .menulist-menupopup > menu > label, menulist > menupopup > menu > label
{
 padding-top: 0px;
 padding-bottom: 0px;
}
menulist > menupopup > menuitem[_moz-menuactive="true"][disabled="true"]
{
 color: #606060;
}
menulist > menupopup > menuitem[disabled="true"]:not([_moz-menuactive="true"]):-moz-system-metric(windows-classic)
{
 color: #606060;
 text-shadow: none;
}
menulist > menupopup > menuitem:not(.menuitem-iconic) > .menu-iconic-text
{
 margin: 0 !important;
}
menuitem[type="checkbox"], menuitem[type="radio"]
{
 -moz-appearance: none;
}
menuitem[type="checkbox"][checked="true"]
{
 background: url("chrome://global/skin/menu/menu-check.gif") 2px 50% no-repeat #000000;
}
menuitem[type="checkbox"][checked="true"][_moz-menuactive="true"]
{
 background: url("chrome://global/skin/menu/menu-check-hover.gif") 2px 50% no-repeat #C0C0C0;
}
menuitem[type="checkbox"][checked="true"][disabled="true"]
{
 background: url("chrome://global/skin/menu/menu-check-disabled.gif") 2px 50% no-repeat #202020;
}
menuitem[checked="true"][type="radio"]
{
 background: url("chrome://global/skin/menu/menu-radio.gif") 2px 50% no-repeat #000000;
}
menuitem[checked="true"][type="radio"][disabled="true"]
{
 background: url("chrome://global/skin/menu/menu-radio-disabled.gif") 2px 50% no-repeat #202020;
}
menuitem[checked="true"][type="radio"][_moz-menuactive="true"]
{
 background: url("chrome://global/skin/menu/menu-radio-hover.gif") 2px 50% no-repeat #C0C0C0;
}
menuitem[type="checkbox"] > .menu-iconic-left, menuitem[checked="true"] > .menu-iconic-left, menuitem[type="radio"] > .menu-iconic-left
{
 -moz-appearance: none;
 padding-top: 0px;
}
menuitem[type="checkbox"] > .menu-iconic-left > .menu-iconic-icon, menuitem[checked="true"] > .menu-iconic-left > .menu-iconic-icon, menuitem[type="radio"] > .menu-iconic-left > .menu-iconic-icon
{
 display: none;
}
menuseparator
{
 -moz-appearance: none;
 margin: 1px;
 border-top: 1px solid #FFFFFF;
}
menulist > menupopup > menuseparator, .menulist-menupopup > menuseparator
{
 padding: 6px 0 5px 0;
 border-top: 1px solid #FFFFFF;
 border-bottom: none;
}
.autocomplete-history-popup > menuitem
{
 max-width: none !important;
 font: message-box;
}
.treecell-popupcell-menu
{
 -moz-margin-start: -2px;
 list-style-image: url("chrome://global/skin/columnselect.gif");
 -moz-image-region: auto;
}

/* Menu Icons */
menu, menuitem
{
 background-position: left center;
 background-repeat: no-repeat;
}
menu:-moz-locale-dir(rtl), menuitem:-moz-locale-dir(rtl)
{
 background-position-x: right;
}
menuitem#context_reloadTab
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 64, 16, 48);
}
menu#tab_reloadrepeat_menu,
menu#reloadrepeat_menu
{
 /* https://realityripple.com/Software/XUL/ReloadRepeat/ */
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 112, 16, 96);
}
menuitem#context_toggleMuteTab[muted="true"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/media-icons.png"), 0, 48, 16, 32);
}
menuitem#context_toggleMuteTab:not([muted="true"])
{
 background-image: -moz-image-rect(url("chrome://browser/skin/media-icons.png"), 0, 64, 16, 48);
}
menuitem#context_pinTab
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 288, 16, 272);
}
menuitem#context_unpinTab
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 272, 16, 256);
}
menuitem#context_openTabInWindow
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 176, 16, 160);
}
menuitem#context_reloadAllTabs
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 64, 16, 48);
}
menuitem#context_bookmarkAllTabs
{
 background-image: -moz-image-rect(url("chrome://browser/skin/places/bookmark.png"), 0, 16, 16, 0);
}
menuitem#context_closeTabsToTheEnd
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 32, 16, 16);
}
menuitem#context_closeOtherTabs
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 48, 16, 32);
}
menuitem#context_undoCloseTab
{
 background-image: url("chrome://browser/skin/menu-back.png");
}
menuitem#context_closeTab
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 48, 16, 32);
}

menuitem[command="cmd_CustomizeToolbars"]
{
 background-image: url("chrome://browser/skin/devtools/tool-icons/options.png");
}

menuitem[observes="blockedPopupAllowSite"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 288, 16, 272);
}
menuitem[observes="blockedPopupEditSettings"]
{
 background-image: url("chrome://browser/skin/devtools/tool-icons/options.png");
}
menuitem[observes="blockedPopupDontShowMessage"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 16, 16, 0);
}

menuitem[oncommand="BrowserFullScreen();"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 256, 16, 240);
}

menuitem#context-openlinkincurrent
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 32, 16, 16);
}
menuitem#context-openlinkintab
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 160, 16, 144);
}
menuitem#context-openlink
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 176, 16, 160);
}
menuitem#context-openlinkprivate
{
 background-image: url("chrome://browser/skin/Privacy-16.png");
}
menuitem#context-bookmarklink
{
 background-image: -moz-image-rect(url("chrome://browser/skin/places/bookmark.png"), 0, 16, 16, 0);
}
menuitem#context-marklink
{
 /* ?? */
}
menuitem#context-sharelink
{
 background-image: url("chrome://browser/skin/social/services-16.png");
}
menuitem#context-savelink
{
 background-image: url("chrome://browser/skin/downloads/download-norm-small.png");
}
menuitem#context-copyemail, menuitem#context-copylink
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 208, 16, 192);
}
menuitem#context-item-link-exif,
menuitem#context-item-image-exif
{
 /* https://addons.palemoon.org/addon/exif-viewer/ */
 background-image: url("chrome://browser/skin/permissions/image.png");
 background-size: 16px 16px;
}
menuitem#context-media-play
{
 background-image: -moz-image-rect(url("chrome://browser/skin/media-icons.png"), 0, 16, 16, 0);
}
menuitem#context-media-pause
{
 background-image: -moz-image-rect(url("chrome://browser/skin/media-icons.png"), 0, 32, 16, 16);
}
menuitem#context-media-mute
{
 background-image: -moz-image-rect(url("chrome://browser/skin/media-icons.png"), 0, 48, 16, 32);
}
menuitem#context-media-unmute
{
 background-image: -moz-image-rect(url("chrome://browser/skin/media-icons.png"), 0, 64, 16, 48);
}
menu#context-media-playbackrate
{
 background-image: -moz-image-rect(url("chrome://browser/skin/media-icons.png"), 0, 80, 16, 64);
}
menuitem#context-media-showcontrols
{
 background-image: -moz-image-rect(url("chrome://browser/skin/media-icons.png"), 0, 96, 16, 80);
}
menuitem#context-media-hidecontrols
{
 background-image: -moz-image-rect(url("chrome://browser/skin/media-icons.png"), 0, 112, 16, 96);
}
menuitem#context-video-showstats
{
 background-image: -moz-image-rect(url("chrome://browser/skin/media-icons.png"), 0, 128, 16, 112);
}
menuitem#context-video-hidestats
{
 background-image: -moz-image-rect(url("chrome://browser/skin/media-icons.png"), 0, 144, 16, 128);
}
menuitem#context-video-fullscreen
{
 background-image: -moz-image-rect(url("chrome://global/skin/media/fullscreenButton.png"), 0, 16, 16, 0);
}
menuitem#context-leave-dom-fullscreen
{
 background-image: -moz-image-rect(url("chrome://global/skin/media/fullscreenButton.png"), 0, 32, 16, 16);
}
menuitem#context-reloadimage
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 64, 16, 48);
}
menuitem#context-viewimage
{
 background-image: url("chrome://mozapps/skin/extensions/themeGeneric-16.png");
}
menuitem#context-viewvideo
{
 background-image: url("chrome://browser/skin/webRTC-shareDevice-16.png");
}
menuitem#context-copyimage-contents
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 208, 16, 192);
}
menuitem#context-copyimage, menuitem#context-copyvideourl, menuitem#context-copyaudiourl
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 32, 16, 16);
}
menuitem#context-zoom-zin,
menuitem#zoomsub-zin
{
 /* https://realityripple.com/Software/XUL/BIZARRE/ */
 background-image: -moz-image-rect(url("chrome://browser/skin/zoom.png"), 0, 16, 16, 0);
}
menuitem#context-zoom-zreset,
menuitem#zoomsub-zreset,
menu#context-zoomsub
{
 /* https://realityripple.com/Software/XUL/BIZARRE/ */
 background-image: -moz-image-rect(url("chrome://browser/skin/zoom.png"), 0, 48, 16, 32);
}
menuitem#context-zoom-zout,
menuitem#zoomsub-zout
{
 /* https://realityripple.com/Software/XUL/BIZARRE/ */
 background-image: -moz-image-rect(url("chrome://browser/skin/zoom.png"), 0, 32, 16, 16);
}
menuitem#context-zoom-zcustom,
menuitem#zoomsub-zcustom
{
 /* https://realityripple.com/Software/XUL/BIZARRE/ */
 background-image: url("chrome://browser/skin/tabview/edit-light.png");
}
menuitem#context-zoom-dcustom,
menuitem#zoomsub-dcustom
{
 /* https://realityripple.com/Software/XUL/BIZARRE/ */
 background-image: url("chrome://browser/skin/devtools/tool-icons/styleeditor.png");
}
menuitem#context-zoom-fit,
menuitem#zoomsub-fit
{
 /* https://realityripple.com/Software/XUL/BIZARRE/ */
 background-image: -moz-image-rect(url("chrome://global/skin/media/fullscreenButton.png"), 0, 16, 16, 0);
}
menuitem#context-zoom-fitwidth,
menuitem#zoomsub-fitwidth
{
 /* https://realityripple.com/Software/XUL/BIZARRE/ */
 background-image: -moz-image-rect(url("chrome://global/skin/icons/Print-preview.png"), 0, 32, 16, 16);
}
menuitem#context-zoom-rotate-right,
menuitem#rotatesub-rotate-right
{
 /* https://realityripple.com/Software/XUL/BIZARRE/ */
 background-image: url("chrome://browser/skin/menu-forward.png");
}
menuitem#context-zoom-rotate-left,
menuitem#rotatesub-rotate-left
{
 /* https://realityripple.com/Software/XUL/BIZARRE/ */
 background-image: url("chrome://browser/skin/menu-back.png");
}
menuitem#context-zoom-rotate-180,
menuitem#rotatesub-rotate-180,
menu#context-rotatesub
{
 /* https://realityripple.com/Software/XUL/BIZARRE/ */
 background-image: -moz-image-rect(url("chrome://browser/skin/devtools/responsiveui-rotate.png"), 0, 16, 16, 0);
}
menuitem#context-zoom-rotate-reset,
menuitem#rotatesub-rotate-reset
{
 /* https://realityripple.com/Software/XUL/BIZARRE/ */
 background-image: -moz-image-rect(url("chrome://global/skin/icons/Print-preview.png"), 0, 16, 16, 0);
}

menuitem#context-saveimage, menuitem#context-savevideo, menuitem#context-saveaudio, menuitem#context-video-saveimage
{
 background-image: url("chrome://browser/skin/downloads/download-norm-small.png");
}
menuitem#context-shareimage, menuitem#context-sharevideo, menuitem#context-sharepage
{
 background-image: url("chrome://browser/skin/social/services-16.png");
}
menuitem#context-sendimage, menuitem#context-sendvideo, menuitem#context-sendaudio
{
 background-image: url("chrome://browser/skin/preferences/mail.png");
}
menuitem#context-setDesktopBackground
{
 background-image: url("chrome://browser/skin/sync-desktopIcon.png");
}
menuitem#context-viewimageinfo
{
 background-image: url("chrome://global/skin/icons/question-16.png");
}
menuitem#context-viewimagedesc
{
 background-image: -moz-image-rect(url("chrome://global/skin/Search-glass.png"), 0, 16, 16, 0);
}
menuitem#context-ctp-play
{
 background-image: url("chrome://mozapps/skin/plugins/notifyPluginGeneric.png");
}
menuitem#context-ctp-hide
{
 background-image: url("chrome://mozapps/skin/plugins/notifyPluginBlocked.png");
}
menuitem#context-back
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 16, 16, 0);
}
menuitem#context-forward
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 32, 16, 16);
}
menuitem#context-reload
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 64, 16, 48);
}
menuitem#context-stop
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 48, 16, 32);
}
menuitem#context-bookmarkpage
{
 background-image: -moz-image-rect(url("chrome://browser/skin/places/bookmark.png"), 0, 16, 16, 0);
}
menuitem#context-savepage
{
 background-image: url("chrome://browser/skin/downloads/download-norm-small.png");
}
menuitem#context-viewbgimage
{
 background-image: url("chrome://mozapps/skin/extensions/themeGeneric-16.png");
}
menuitem#context-undo, menuitem[cmd="cmd_undo"]
{
 background-image: url("chrome://browser/skin/menu-back.png");
}
menuitem#context-cut, menuitem[cmd="cmd_cut"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 192, 16, 176);
}
menuitem#context-copy, menuitem[cmd="cmd_copy"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 208, 16, 192);
}
menuitem#context-paste, menuitem[cmd="cmd_paste"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 224, 16, 208);
}
menuitem#context-delete, menuitem[cmd="cmd_delete"], menuitem[cmd="cmd_clearhistory"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 48, 16, 32);
}
menuitem#context-selectall, menuitem[cmd="cmd_selectAll"]
{
 background-image: url("chrome://global/skin/icons/information-16.png");
}
menuitem#context-keywordfield
{
 background-image: url("chrome://browser/skin/places/query.png");
}
menuitem#context-searchselect, menuitem[anonid="paste-and-search"]
{
 background-image: -moz-image-rect(url("chrome://global/skin/icons/Search-glass.png"), 0, 16, 16, 0);
}
menuitem#context-shareselect
{
 background-image: url("chrome://browser/skin/social/services-16.png");
}
menu#frame
{
 background-image: url("chrome://browser/skin/aboutSessionRestore-window-icon.png");
}
menuitem#context-showonlythisframe
{
 background-image: url("chrome://browser/skin/aboutSessionRestore-window-icon.png");
}
menuitem#context-openframeintab
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 160, 16, 144);
}
menuitem#context-openframe
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 176, 16, 160);
}
menuitem#context-reloadframe
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 64, 16, 48);
}
menuitem#context-bookmarkframe
{
 background-image: -moz-image-rect(url("chrome://browser/skin/places/bookmark.png"), 0, 16, 16, 0);
}
menuitem#context-saveframe
{
 background-image: url("chrome://browser/skin/downloads/download-norm-small.png");
}
menuitem#context-printframe
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 144, 16, 128);
}
menuitem#context-viewframesource, menuitem#context-viewpartialsource-selection, menuitem#context-viewpartialsource-mathml, menuitem#context-viewsource
{
 background-image: url("chrome://browser/skin/source.png");
}
menuitem#context-viewframeinfo, menuitem#context-viewinfo
{
 background-image: -moz-image-rect(url("chrome://global/skin/icons/folder-item.png"), 0, 16, 16, 0);
}
menuitem#spell-add-dictionaries-main
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 288, 16, 272);
}
menu#spell-dictionaries
{
 background-image: url("chrome://global/skin/icons/question-16.png");
}
menuitem#context-inspect
{
 /* https://addons.palemoon.org/addon/dom-inspector/ */
 background-image: -moz-image-rect(url("chrome://global/skin/icons/Search-glass.png"), 0, 16, 16, 0);
}
menuitem#trackpackage, menuitem#app_trackinghistory, menuitem#tools_trackinghistory, menuitem#task_trackinghistory
{
 /* https://realityripple.com/Software/XUL/Track-Package/ */
 background-image: url("chrome://browser/skin/devtools/tool-icons/scratchpad.png");
}
menuitem#trackgmaps
{
 /* https://realityripple.com/Software/XUL/Track-Package/ */
 background-image: url("chrome://browser/skin/permissions/geo.png");
 background-size: 16px 16px;
}
menuitem.abp-contextmenuitem
{
 /* https://addons.palemoon.org/addon/adblock-latitude/ */
 background-image: -moz-image-rect(url("chrome://browser/skin/urlbar-popup-blocked.png"), 0, 16, 16, 0);
}

menuitem#placesContext_open
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 32, 16, 16);
}
menuitem[id="placesContext_open:newtab"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 160, 16, 144);
}
menuitem[id="placesContext_openContainer:tabs"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 160, 16, 144);
}
menuitem[id="placesContext_openLinks:tabs"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 160, 16, 144);
}
menuitem[id="placesContext_open:newwindow"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 176, 16, 160);
}
menuitem[id="placesContext_open:newprivatewindow"]
{
 background-image: url("chrome://browser/skin/Privacy-16.png");
}
menuitem[id="placesContext_new:bookmark"], menuitem#placesContext_createBookmark
{
 background-image: -moz-image-rect(url("chrome://browser/skin/places/bookmark.png"), 0, 16, 16, 0);
}
menuitem[id="placesContext_new:folder"]
{
 background-image: -moz-image-rect(url("chrome://global/skin/icons/folder-item.png"), 0, 32, 16, 16);
}
menuitem[id="placesContext_new:separator"]
{

}
menuitem#placesContext_cut
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 192, 16, 176);
}
menuitem#placesContext_copy
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 208, 16, 192);
}
menuitem#placesContext_paste
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 224, 16, 208);
}
menuitem#placesContext_delete, menuitem#placesContext_delete_history, menuitem#placesContext_deleteHost
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 48, 16, 32);
}
menuitem#placesContext_reload
{
 background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 64, 16, 48);
}
menuitem[id="placesContext_sortBy:name"]
{
 background-image: url("chrome://browser/skin/sync-16.png");
}
menuitem[id="placesContext_show:info"]
{
 background-image: -moz-image-rect(url("chrome://global/skin/icons/folder-item.png"), 0, 16, 16, 0);
}

menuitem[anonid="paste-and-go"]
{
 background-image: -moz-image-rect(url("chrome://browser/skin/reload-stop-go.png"), 0, 42, 14, 28);
}

button menuitem
{
 background-color: transparent;
}
