@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
progressmeter
{
 -moz-appearance: none;
 margin: 2px 4px;
 border: 1px solid;
 -moz-border-top-colors: #FFFFFF;
 -moz-border-right-colors: #808080;
 -moz-border-bottom-colors: #808080;
 -moz-border-left-colors: #FFFFFF;
 background-color: #000000;
 min-width: 128px;
 min-height: 15px;
 background-image: linear-gradient(
  to right,
  transparent 0%,
  transparent calc(10% - 1px), #FFFFFF 10%, transparent calc(10% + 1px),
  transparent calc(20% - 1px), #FFFFFF 20%, transparent calc(20% + 1px),
  transparent calc(30% - 1px), #FFFFFF 30%, transparent calc(30% + 1px),
  transparent calc(40% - 1px), #FFFFFF 40%, transparent calc(40% + 1px),
  transparent calc(50% - 1px), #FFFFFF 50%, transparent calc(50% + 1px),
  transparent calc(60% - 1px), #FFFFFF 60%, transparent calc(60% + 1px),
  transparent calc(70% - 1px), #FFFFFF 70%, transparent calc(70% + 1px),
  transparent calc(80% - 1px), #FFFFFF 80%, transparent calc(80% + 1px),
  transparent calc(90% - 1px), #FFFFFF 90%, transparent calc(90% + 1px),
  transparent 100%
 );
}
toolbar progressmeter, statusbar progressmeter
{
 margin: 0;
 min-width: 96px;
 border-top: 0;
 border-bottom: 0;
 -moz-border-right-colors: #808080;
 -moz-border-left-colors: #808080;
 background-image: linear-gradient(
  to right,
  transparent 0%,
  transparent 50%, #FFFFFF 50%, transparent calc(50% + 1px),
  transparent 100%
 );
}
.progress-bar
{
 -moz-appearance: none;
 min-width: 0px;
 background-image: linear-gradient(to bottom, transparent 0%, #FFFFFF 50%, transparent 100%);
}
progressmeter[mode=undetermined]
{
 background-image: none;
}
toolbar progressmeter[mode=undetermined], statusbar progressmeter[mode=undetermined]
{
 background-image: none;
}
.progress-bar[mode=undetermined]
{
 background-image: repeating-linear-gradient(135deg, transparent 0px, transparent 10px, #000000 10px, #000000 15px, transparent 15px),
                   linear-gradient(to bottom, transparent 0%, #FFFFFF 50%, transparent 100%);
}
