@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
resizer
{
 -moz-appearance: none;
 background: url("chrome://global/skin/icons/resizer-ltr.png") no-repeat;
 background-size: 100% 100%;
 cursor: se-resize;
 width: 15px;
 height: 15px;
}
resizer[dir="bottomend"]
{
 background: url("chrome://global/skin/icons/resizer.png") no-repeat;
 width: 1px !important;
 height: 1px !important;
 visibility: collapse;
}
statusbarpanel > resizer[dir="bottomend"]
{
 background: url("chrome://global/skin/icons/resizer-ltr.png") no-repeat;
 width: 15px !important;
 height: 15px !important;
 visibility: visible;
}
resizer[dir="bottomend"][element="_parent"]
{
 background: url("chrome://global/skin/icons/resizer-ltr.png") no-repeat;
 width: 15px !important;
 height: 15px !important;
 visibility: visible;
}
resizer[rtl="true"], resizer[dir="bottomend"]:-moz-locale-dir(rtl)
{
 background: url("chrome://global/skin/icons/resizer-rtl.png") no-repeat;
}
resizer[scrollbarwidth="thin"][dir="bottomend"][element="_parent"]
{
 background: url("chrome://global/skin/icons/resizer-thin-ltr.png") no-repeat;
}
resizer[scrollbarwidth="thin"][rtl="true"],
resizer[scrollbarwidth="thin"][dir="bottomend"][element="_parent"]:-moz-locale-dir(rtl)
{
 background: url("chrome://global/skin/icons/resizer-thin-rtl.png") no-repeat;
}
resizer[dir="left"], resizer[dir="bottomleft"], resizer[dir="bottomstart"]
{
 transform: scaleX(-1);
}
resizer[dir="bottomleft"], resizer[dir="bottomstart"]:not([rtl="true"]):not(:-moz-locale-dir(rtl)), resizer[dir="bottomend"][rtl="true"]
{
 cursor: sw-resize;
}
resizer[dir="top"], resizer[dir="bottom"]
{
 cursor: ns-resize;
}
resizer[dir="left"], resizer[dir="right"]
{
 cursor: ew-resize;
}
resizer[dir="topleft"]
{
 cursor: nw-resize;
}
resizer[dir="topright"]
{
 cursor: ne-resize;
}
