@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
scale > slider:not([orient="vertical"]),
.scale-slider:not([orient="vertical"])
{
 -moz-appearance: none;
 background-image: linear-gradient(to bottom, transparent calc(50% - 2px), #FFFFFF 50%, transparent calc(50% + 2px));
 background-repeat: repeat-x;
 margin: 2px 4px;
 min-width: 100px;
}
scale > slider[orient="vertical"],
.scale-slider[orient="vertical"]
{
 -moz-appearance: none;
 background-image: linear-gradient(to right, transparent calc(50% - 2px), #FFFFFF 50%, transparent calc(50% + 2px));
 background-repeat: repeat-y;
 margin: 4px 2px;
 min-height: 100px;
}
scale > slider > thumb,
.scale-thumb
{
 -moz-appearance: none;
 border: 1px solid #FFFFFF;
 background-color: #000000;
 min-width: 14px;
 min-height: 14px;
 border-radius: 7px;
}
scale > slider:not([orient="vertical"])[disabled="true"],
.scale-slider:not([orient="vertical"])[disabled="true"]
{
 background-image: linear-gradient(to bottom, transparent calc(50% - 2px), #606060 50%, transparent calc(50% + 2px));
}
scale > slider[orient="vertical"][disabled="true"],
.scale-slider[orient="vertical"][disabled="true"]
{
 background-image: linear-gradient(to right, transparent calc(50% - 2px), #606060 50%, transparent calc(50% + 2px));
}
scale > slider > thumb[disabled="true"],
.scale-thumb[disabled="true"]
{
 background-color: #101010;
 border-color: #606060;
}
