@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
tabbox > tabpanels
{
 -moz-appearance: none;
 border: 1px solid #C0C0C0;
 padding: 8px;
 background-color: #000000;
 color: #FFFFFF;
}
tabbox > tabs > tab
{
 -moz-appearance: none;
 border: 1px solid #C0C0C0;
 padding: 4px;
 background-color: #000000;
 color: #FFFFFF;
}
tabbox > tabs > tab[selected="true"]
{
 -moz-user-focus: normal;
 padding: 6px;
}
tabbox > tabs > tab:focus
{
 color: #D0D0D0;
}
.tab-text
{
 margin: 0 !important;
}

/* top */
tabbox:not([orient="horizontal"]):not([dir="reverse"]) > tabs:first-child + tabpanels,
tabbox[dir="reverse"]:not([orient="horizontal"]) > tabpanels:first-child
{
 border-top-width: 0;
}
tabbox:not([orient="horizontal"]):not([dir="reverse"]) > tabs:first-child spacer,
tabbox[dir="reverse"]:not([orient="horizontal"]) > tabpanels:first-child + tabs spacer
{
 border-bottom: 1px solid #C0C0C0;
}
tabbox:not([orient="horizontal"]):not([dir="reverse"]) > tabs:first-child tab,
tabbox[dir="reverse"]:not([orient="horizontal"]) > tabpanels:first-child + tabs tab
{
 margin-top: 1px;
 margin-bottom: 0;
 padding-top: 2px;
 padding-bottom: 3px;
}
tabbox:not([orient="horizontal"]):not([dir="reverse"]) > tabs:first-child tab[selected="true"],
tabbox[dir="reverse"]:not([orient="horizontal"]) > tabpanels:first-child + tabs tab[selected="true"]
{
 margin-top: 0;
 border-bottom-width: 0;
 padding-top: 1px;
 padding-bottom: 4px;
}

/* bottom */
tabbox:not([orient="horizontal"]):not([dir="reverse"]) > tabpanels:first-child,
tabbox[dir="reverse"]:not([orient="horizontal"]) > tabs:first-child + tabpanels
{
 border-bottom-width: 0;
}
tabbox:not([orient="horizontal"]):not([dir="reverse"]) > tabpanels:first-child + tabs spacer,
tabbox[dir="reverse"]:not([orient="horizontal"]) > tabs:first-child spacer
{
 border-top: 1px solid #C0C0C0;
}
tabbox:not([orient="horizontal"]):not([dir="reverse"]) > tabpanels:first-child + tabs tab,
tabbox[dir="reverse"]:not([orient="horizontal"]) > tabs:first-child tab
{
 margin-bottom: 1px;
 margin-top: 0;
 padding-bottom: 2px;
 padding-top: 3px;
}
tabbox:not([orient="horizontal"]):not([dir="reverse"]) > tabpanels:first-child + tabs tab[selected="true"],
tabbox[dir="reverse"]:not([orient="horizontal"]) > tabs:first-child tab[selected="true"]
{
 margin-bottom: 0;
 border-top-width: 0;
 padding-bottom: 1px;
 padding-top: 4px;
}

/* vertical */
tabbox:not([orient="horizontal"]) > tabs tab:not([selected="true"]):-moz-locale-dir(ltr),
tabbox:not([orient="horizontal"]) > tabs tab[selected="true"] ~ tab:-moz-locale-dir(rtl)
{
 border-right-width: 0;
 border-left-width: 1px;
}
tabbox:not([orient="horizontal"]) > tabs tab[selected="true"] ~ tab:-moz-locale-dir(ltr),
tabbox:not([orient="horizontal"]) > tabs tab:not([selected="true"]):-moz-locale-dir(rtl)
{
 border-left-width: 0;
 border-right-width: 1px;
}

/* left */
tabbox[orient="horizontal"]:not([dir="reverse"]) > tabs:first-child + tabpanels,
tabbox[orient="horizontal"][dir="reverse"] > tabpanels:first-child
{
 border-left-width: 0;
}
tabbox[orient="horizontal"]:not([dir="reverse"]) > tabs:first-child spacer,
tabbox[orient="horizontal"][dir="reverse"] > tabpanels:first-child + tabs spacer
{
 border-right: 1px solid #C0C0C0;
}
tabbox[orient="horizontal"]:not([dir="reverse"]) > tabs:first-child tab,
tabbox[orient="horizontal"][dir="reverse"] > tabpanels:first-child + tabs tab
{
 margin-left: 1px;
 margin-right: 0;
 padding-left: 2px;
 padding-right: 3px;
}
tabbox[orient="horizontal"]:not([dir="reverse"]) > tabs:first-child tab[selected="true"],
tabbox[orient="horizontal"][dir="reverse"] > tabpanels:first-child + tabs tab[selected="true"]
{
 margin-left: 0;
 border-right-width: 0;
 padding-left: 1px;
 padding-right: 4px;
}

/* right */
tabbox[orient="horizontal"]:not([dir="reverse"]) > tabpanels:first-child,
tabbox[orient="horizontal"][dir="reverse"] > tabs:first-child + tabpanels
{
 border-right-width: 0;
}
tabbox[orient="horizontal"]:not([dir="reverse"]) > tabpanels:first-child + tabs spacer,
tabbox[orient="horizontal"][dir="reverse"] > tabs:first-child spacer
{
 border-left: 1px solid #C0C0C0;
}
tabbox[orient="horizontal"]:not([dir="reverse"]) > tabpanels:first-child + tabs tab,
tabbox[orient="horizontal"][dir="reverse"] > tabs:first-child tab
{
 margin-right: 1px;
 margin-left: 0;
 padding-right: 2px;
 padding-left: 3px;
}
tabbox[orient="horizontal"]:not([dir="reverse"]) > tabpanels:first-child + tabs tab[selected="true"],
tabbox[orient="horizontal"][dir="reverse"] > tabs:first-child tab[selected="true"]
{
 margin-right: 0;
 border-left-width: 0;
 padding-right: 1px;
 padding-left: 4px;
}

/* horizontal */
tabbox[orient="horizontal"] > tabs tab:not([selected="true"]):-moz-locale-dir(ltr),
tabbox[orient="horizontal"] > tabs tab[selected="true"] ~ tab:-moz-locale-dir(rtl)
{
 border-bottom-width: 0;
 border-top-width: 1px;
}
tabbox[orient="horizontal"] > tabs tab[selected="true"] ~ tab:-moz-locale-dir(ltr),
tabbox[orient="horizontal"] > tabs tab:not([selected="true"]):-moz-locale-dir(rtl)
{
 border-top-width: 0;
 border-bottom-width: 1px;
}

/* FireFTP Fix */
#logQueueTabs .tab-bottom:first-of-type[selected="true"]
{
 color: #000000;
 -moz-border-top-colors: #FFFFFF !important;
 background-color: #FFFFFF;
}
